@import "_mixins.less";

@button-color: #06c;
@light-cyan: #4abfc5;

.interochimp-form {

  background: #fff;
  .border-radius(1em);

  display: none;
  position: relative;
  width: 400px;
  height: 300px;

  .interochimp-form-close {
    position: absolute;
    right: -12px;
    top: -12px;
    width: 37px;
    height: 37px;
    background: url(../images/subscr_close.png) no-repeat 0 0;
    z-index: 1;
    &:hover {
      background-image: url(../images/subscr_close_hover.png);
    }
  }

  form {
    position: relative;
    z-index: 2;
    width: 390px;
    height: 290px;
    background: url(../images/subscr_inner.png) no-repeat 0 0;
    margin: 0;
    h4 {
      text-align: center;
      padding-top: 2em;
    }

    fieldset {
      width: 80%;
      margin: 0 auto;
      padding-top: 3em;
      .input {
        padding-bottom: 1em;
        label {
          float: left;
          width: 20%;
          padding-top: .4em;
        }
        input {
          display: inline-block;
          width: 75%;
        }
        &.submit {
          padding-top: .5em;
          text-align: center;
        }
      }
      p {
        text-align: center;
        font-size: smaller;
        color: #aaa;
      }
    }
  }

}